 [Unit]
 Description=Stats
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/pi/Scripts/stats.py

 [Install]
 WantedBy=multi-user.target
